footer {
    background-color: #282c34;
    display: flex;                  /*declares it as a flex icon*/
    justify-content: space-evenly; 
    color: white;              /* footer text color */
    text-align: center;        /* centralizes the text*/
    font-size: calc(5px + 2vmin); /* responsive font size */
    padding: 0rem 0;           /* vertical padding */
    position: fixed;           /* footer is fixed at the end of the page */
    bottom: 0;                 /* aligns footer to the end of the browser page*/
    left: 0;                   /* aligns footer to the left of the browser page*/
    width: 100%;               /* makes footer occupy the entire width of the browser page*/
    box-sizing: border-box;   /* makes sure that the padding and border are included in the total width and height of the elements */
    z-index: 10;               /* makes sure that the footer is always on top of other elements */    
}

#rules{
    background-color: #282c34;
    color: white;
    
}