
.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  #selectedPlay {
    color: #000000;
  }

  #rockFlag {
    font-size: 1em;
    margin-right: 0.5em;
    margin: 1em;
    color: #000000;
  }